.edit{
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.novelSelectBox{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.novelSelect{
    min-width: 130px;
    height: 30px;
    font-size: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 25px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}

.newNovel{
    border-radius: 25px;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    color: white;
    background-color: #a7a7a7;
}

.novelName{
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.title{
    margin-bottom: 30px;
}

.titleInput:focus{
    border-bottom: 1px solid black;
}

.titleInput{
    width: 100%;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
    font-size: 18px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.content{
    margin-bottom: 15px;
}

.contentInput{
    width: 100%;
    min-height: 500px;
    outline: none;
    resize: none;
    font-size: 17px;
    font-family: 'SUIT-Regular';
    border: 1px solid #e5e5e5;
    padding: 10px;
    box-sizing: border-box;
}

.contentInput:focus{
    border: 1px solid black;
}

.writerComment{
    margin-bottom: 20px;
}

.writerCommentInput{
    width: 100%;
    min-height: 150px;
    border: 1px solid #e5e5e5;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    font-family: 'SUIT-Regular';
}

.writerCommentInput:focus{
    border: 1px solid black;
}

.saveBtnBox{
    display: flex;
    justify-content: flex-end;
}

.saveBtn{
    border: 1px solid #e5e5e5;
    background-color: #3f88da;
    padding: 10px 30px;
    font-size: 18px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .edit{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .saveBtn{
        padding: 5px 20px;
    }
}