.footer{
    width: 100%;
    margin-top: 75px;
    height: 100px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
}

.footerBox{
    width: 1200px;
}

.informationBox{
    display: flex;
    margin-top: 20px;
}

.information{
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}

.myArea{
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
}

@media (max-width: 600px) {
    .footerBox{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }
    
    .informationBox{
        margin-top: 0;
        justify-content: center;
        white-space: nowrap;
    }
    
    .information{
        font-size: 14px;
        margin-right: 5px;
    }
    
    .myArea{
        white-space: nowrap;
        font-size: 15px;
        justify-content: center;
        display: flex;
    }
}