.novelinfo {
    width: 1200px;
}

.infoBox {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    /* border: 1px solid #e5e5e5; */
    /* padding: 15px; */
    /* box-sizing: border-box; */
}

.coverBox {
    width: 300px;
    height: 240px;
}

.coverImg {
    width: 300px;
    height: 240px;
    border: 1px solid #e5e5e5;
    object-fit: cover;
    border-radius: 5px;
}

.dataBox {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.data {
    display: flex;
}

.dataText {
    font-size: 15px;
    margin-right: 5px;
    color: #9d9c9c;
}

.summary {
    font-size: 15px;
    color: #9d9c9c;
}

.btnBox {
    display: flex;
}

.firstRound {
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9d9c9c;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.writerBox {
    display: flex;
}

.editRound {
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(106, 106, 106);
    border: none;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
}

.deleteRound {
    margin-top: 10px;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    border: none;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
}

.roundInfo {
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.roundItem {
    display: flex;
    align-items: center;
    height: 75px;
    font-size: 20px;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}

.roundImg {
    height: 75px;
    width: 95px;
    object-fit: cover;
    border-radius: 2.5px;
    margin-right: 15px;
}

.round {
    margin-right: 10px;
}

.title:hover {
    text-decoration: underline;
}


@media (max-width: 600px) {
    .novelinfo {
        width: 100%;
        box-sizing: border-box;
        padding: 0px 20px;
    }

    .infoBox {
        flex-direction: column;
        gap: 20px;
    }

    .coverBox {
        width: 100%;
    }

    .coverImg {
        width: 100%;
    }

    .dataBox {
        margin-left: 0px;
    }

    .data {
        margin-bottom: 10px;
    }

    .firstRound {
        font-size: 14px;
        padding: 10px 20px;
    }

    .editRound {
        font-size: 14px;
        padding: 10px 20px;
    }

    .roundInfo {
        font-size: 20px;
    }

    .roundItem {
        font-size: 18px;
    }

    .name {
        font-size: 25px;
    }
}