.box{
    width: 450px;
    min-height: 400px;
    border: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(68,68,68,.02);
}

.input{
    outline: none;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.title{
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.signupBtn{
    width: 300px;
    background-color: #6b7280;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.cancelBtn{
    width: 300px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid #6b7280;
}